$myown-book-story-style: italic;
$myown-book-weight-style: bold;
$myown-story-color-style: darkslategrey;

%myown-basic-margin-top {
    margin-top: 20px;
}

.myown-card-margins {
    margin-bottom: 20px;
}

.myown-footer-margins {
    margin-top:50px;
    padding-top:20px;
    padding-bottom:20px;
}

td > .myown-book {
    font-style: $myown-book-story-style;
}

p .myown-book {
    font-style: $myown-book-story-style;
    font-weight: $myown-book-weight-style;
}

p {
    .myown-story {
        font-style: $myown-book-story-style;
        color: $myown-story-color-style;
    }
}

h4 {
    @extend %myown-basic-margin-top;
    margin-bottom: 20px;
}

h5 {
    @extend %myown-basic-margin-top;
    margin-bottom: 5px;
}

#myown-top-title {
    margin-top: 50px;
    margin-bottom: 50px;
}

#myown-thanks-for-reading {
    margin-top: 0px;
    margin-bottom: 0px;
}

@media (max-width: 575.98px) {
    .myown-hide-for-mobile {
        display: block;
    }
}

@media (min-width: 576px) {
    .myown-hide-for-mobile {
        display: none;
    }
}